ALLOWED_HOSTS = ['*']

# Database
# https://docs.djangoproject.com/en/4.2/ref/settings/#databases

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": "{{ db_name }}",
        "USER": "{{ db_user }}",
        "PASSWORD": "{{ db_password }}",
        "HOST": "{{ db_host }}",
        "PORT": {{ db_port }},
    }
}
